.feed {
    background-color: #435078;
    padding: 0 20%;
    overflow-y: scroll;
}

.post {
    grid-area: 'posts';
    background-color: #ffffff;
    width:100%;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.post-title {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.post-title:hover {
    text-decoration: underline;
}
.snap {
    width: 30px;
    height:30px;
}
.post-subinfo {
    width: 300px;
    color: lightgray;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}
.post-img {
    max-width:100%;
}
.provider_img {
    max-width: 40px;
    border-radius: 100%;
}
.post-author {
    text-decoration: none;
    color:black;
}
.post-author:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .feed {
        padding: 0 5%;
    }
    .post-subinfo {
        font-size: 12px;
    }
    .provider_img {
        max-width: 25px;
    }
}
@media (min-width: 481px) and (max-width: 829px) {
    .feed {
        padding: 0 5%;
    }
    .provider_img {
        max-width: 35px;
    }
}
